/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color:#102746;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section-title::after{
    display: block;
    content: '';
    background-color: #006DFE;
    width: 253px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;

}

/* Header styles */

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 999;
}
.header__active{
    background: #0E1D28;
}
.header__wrapper{
    padding-top: 56px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 18px;
    line-height: 24px;
    color: #ffff;
    text-decoration: none;
}
.header__link:hover,.header__link:active, .header__link:focus {
    opacity: .50;
}

.header__burger{
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}
.burger__line{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}
.burger__line_ferst{
    top: 0;
}
.burger__line_second{
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_third{
    bottom: 0;
}
  /* Header styles end */

  /* Intro section styles */

.intro{
    min-height: 100vh;
    background: url('../img/into__bg.png') no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 300px;
}
.intro__title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.intro__subtitle{
    max-width: 556px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.search-form__info{
    display: flex;
    flex-wrap: wrap;
}

.search-form__field{
    width: 297px;
    background: transparent url('../img/svg/oval.svg') no-repeat left 7px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF
}
.search-form__field::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.searc-form__submit{
    background: #1B7DFF;
    padding: 15px 39px;
    border: none;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.searc-form__submit:hover, .searc-form__submit:focus, .searc-form__submit:active{
    background: #1168d877;
}
   /* Intro section styles end */


   /* Benefits section styles start */
.benefits{
    margin-bottom: 131px;
}
.benefits__wrap{
    position: relative;
    max-width: 1262px;
    margin: 0 auto;             
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.benefits__title{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
    line-height: 42px;
    color: #102746;
    padding: 93px 100px 98px 100px;
    transform: translateY(-100%);
    background-color: white;
}

.benefits__carts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
.benefits__cart{
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefit__cart-pic{
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits__cart-icon{
    display: block;
}
.benefits__cart-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 26px;
}
.benefits__cart-desc{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 39px;
}
.benefits__cart-more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url('../img/svg/arow.svg') no-repeat 95% center;
    transition: .2s all;
}
.benefits__cart-more:hover, .benefits__cart-more:focus{
    background: url('../img/svg/arow.svg') no-repeat right center;
}
   /* Benefits section styles end */


   /* Places sections styles start */
.places{
    margin-bottom: 131px;
}
.places__caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.places__title{
    margin-right: 15px;
}
.places__wiev-all{
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url('../img/svg/arow.svg') no-repeat 95% center;
}
.places__wiev-all:hover, .places__wiev-all:focus {
    opacity: .65;
}

.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.places__card{
    position: relative;
    overflow: hidden;
}
.places__card:hover .places__card-pic{
    transform: scale(1.05);
}
.places__card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color:  rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places__card-title{
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places__card_size_lg{
    grid-column: span 3;
}
.places__card_size_sm{
    grid-column: span 2;
}
.places__card-pic{
    width: 100%;
    transition: .15s all;
}
.places__card-pic_size_lg{
    height: 354px;
    object-fit: cover;
}
.places__card-pic_size_sm{
    height: 283px;
    object-fit: cover;
}
.places__card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
   /* Places section styles end */

   /* Tours sections start */

.tours{
    margin-bottom: 139px;
}
.tours__tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour__info{
    padding-left: 47px;
}
.tours__pic{
    height: 349px;
    object-fit: cover;
    overflow: hidden;
}
.tours__thumb:hover{
    transform: scale(1.05);
}
.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
    margin-bottom: 85px;
}
.tours__desc{
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    width: 519px;
    margin-bottom: 58px;
}
.tour__more{
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url('../img/svg/arow.svg') no-repeat 95% center;
}
.tour__more:hover, .tour__more:focus{
    background: url('../img/svg/arow.svg') no-repeat right center;
}
  /* Tours sections end */

/* Top section styles start */
.top{
    margin-bottom: 86px;
}
.top__title{
    margin-bottom: 54px;
}
.top__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}

.top__card{
    display: flex;
    flex-direction: column;
}
.top__card-pic{
    position: relative;
    margin-bottom: 45px;
}

.top__card-overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 25px;
    background: rgba(21, 24, 36, 0.6);
}
.top__card-title{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}
.top__card-likes{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    margin-right: 14px;
    background: url('../img/svg/heard-icon.svg') no-repeat right center;
}
.top__card-comments{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url('../img/svg/comment-icon.svg') no-repeat right center;
}
.top__card-desc{
    font-size: 16px;
    line-height: 24px;
    color: #102746;
    margin-bottom: 31px;
}
.top__card-more{
    width: 118px;
    background: #1B7DFF;
    padding: 12px 19px;
    border: none;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: auto;
}
.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
    background: #1168d877;
}

/* Top section styles end */



/* Video section start */
.video{
    width: 100%;
}
.videos__wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
}
.video__item{
    padding-top: 56.25%;
}
.video__element{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* Video section end */

/* Footer section start */

.footer{
    background: #0E1D28;
    padding: 118px 0;
}
.footer__item{
    display: flex;
    flex-wrap: wrap;
}
.footer__logo{
    /* width: 50%; */
    flex-grow: 1;
}
.footer__nav{
    /* width: 50%; */
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer__menu-item{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__menu-link{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
    opacity: .5;
}

/* Footer section end */

